{
    "myapp": {
        "title": "MyApp that is doing something (Unsecure)",
        "module": "./app/myapp",
        "enabled": true,
        "secure": false,
        "port": 8080,
        "path": null,
        "logdir": "logs",
        "params": {
            "my-cli": "/path/to/cli",
            "my-other-cli": {
                "cli": "/path/to/other/cli",
                "bin": "php",
                "args": [
                    "-f",
                    "%CLI%",
                    "--",
                    "--key1=value1",
                    "--key2=%VALUE%",
                    "%DATA%"
                ]
            },
            "post-to-my-website": {
                "url": "http://www.example.com/api",
                "method": "POST",
                "data": {
                    "key1": "value1",
                    "key2": "%VALUE%"
                }
            },
        }
    }
}
