{
    "myapp": {
        "title": "MyApp that is doing something (Unsecure)",
        "module": "./app/myapp",
        "enabled": true,
        "secure": false,
        "port": 8080,
        "path": null,
        "logdir": "logs",
        "params": {
            "something": {
                "cli": "/path/to/cli"
            },
            "other": "/path/to/other/cli"
        }
    }
}
